@using Database.Models
@model Admin.ViewModels.RatingModel

@{
    ViewData["Title"] = "Ratings";
    var movies = (List<Movie>)ViewData["movies"];
    var options = (List<SelectListItem>)ViewData["options"];
}

<div id="ratings">

    <h4>Ratings</h4>

    <form asp-action="Index" class="form-inline" method="get">
        <input asp-for="Page" type="hidden" />
        <div class="form-group">
            <select class="form-control" asp-for="Order" asp-items="@options"></select>
        </div>
        <button type="submit" class="btn btn-default">Filter</button>
    </form>

    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th>Title</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            @if (movies.Any())
            {
                foreach (var item in movies)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.PublicationYear</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="2">No movies found</td>
                </tr>
            }

        </tbody>
    </table>

    <div class="clearfix">

        <form asp-action="Index" method="get">
            <input type="hidden" asp-for="Order" />
            <input type="hidden" name="page" value="@((int) ViewData["page"] - 1)" />
            <button type="submit" class="btn btn-info pull-left @((bool) ViewData["hasPreviousPage"] ? string.Empty : "disabled")">Previous</button>
        </form>

        <form asp-action="Index" method="get">
            <input type="hidden" asp-for="Order" />
            <input type="hidden" name="page" value="@((int) ViewData["page"] + 1)" />
            <button type="submit" class="btn btn-info pull-right @((bool) ViewData["hasNextPage"] ? string.Empty : "disabled")">Next</button>
        </form>
    </div>

</div>