﻿body { margin-top: 60px; }

.nav .btn-link {
    background-color: #8c8c8c;
    font-size: 12px;
    margin-top: 7px;
    margin-left: 15px;
    margin-right: 15px;
}

#moviesOverview #categories .checkbox:first-of-type {
    margin-top: 0;
    border-top: 0;
    padding-top: 0;
}

#moviesOverview #categories .checkbox {
    margin-top: 10px;
    border-top: 1px dashed #c0c0c0;
    padding-top: 10px;
}

#moviesOverview #categories .checkbox label { padding-left: 0; }

#moviesOverview .thumbnail { height: 235px; }

#moviesOverview .thumbnail .description { font-size: 11px; }

#moviesOverview .thumbnail a {
    float: right;
    margin-right: 9px;
}

#moviesOverview .thumbnail .caption.has-image { height: 102px; }
    
    
#moviesOverview .thumbnail .caption {
    padding: 9px;
    height: 182px;
}

#moviesOverview .thumbnail img {
    height: 80px;
    width: 100%;
}

#watch.jumbotron p { font-size: 15px; }

#watch .movie .description { font-size: 11px; }

#watch .movie .thumbnail {
    height: 160px;
    position: relative
}

#watch .movie .thumbnail .description {
    max-height: 30px;
    overflow: hidden;
}

#watch .movie .thumbnail a {
    position: absolute;
    bottom: 0;
    left: 0;
}

#watch h5 { font-weight: 500; }

#watch .glyphicon-remove { color: red; font-size: 11px; }

.thumbnail .caption h3 {
    max-height: 54px;
    overflow: hidden;
}
