@using Database.Items
@using Database.Models
@model FletNix.ViewModels.Movie_overview.SearchMovie

@{
    ViewData["Title"] = "Movies";
}

<div id="moviesOverview">
    <div style="margin-bottom: 15px;">
        Found movies: <div class="label label-default">@ViewData["amountMovies"]</div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Search" method="get" style="margin-bottom: 20px;">

                <div id="categories" class="panel panel-default">
                    <div class="panel-heading">Sorteren</div>
                    <div class="panel-body">
                        @foreach (var category in (List<SelectListItem>) ViewData["categories"])
                        {
                            <div class="checkbox">
                                <label>
                                    <input asp-for="Category" type="radio" value="@category.Value"/> @category.Text
                                </label>
                            </div>
                        }
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Filter</div>
                    <div class="panel-body">

                        <div class="form-group">
                            <label class="control-label">Price</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" asp-for="MinPrice" class="form-control" placeholder="Minimum price"/>
                                </div>

                                <div class="col-md-6">
                                    <input type="text" asp-for="MaxPrice" class="form-control" placeholder="Max price"/>
                                </div>
                            </div>
                            <span asp-validation-for="MinPrice" class="text-danger"></span>
                            <span asp-validation-for="MaxPrice" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Year" class="control-label"></label>
                            <input asp-for="Year" class="form-control"/>
                            <span asp-validation-for="Year" class="text-danger"></span>
                        </div>

                       @* <div class="form-group">
                            <label class="control-label" asp-for="Genres"></label>
                            <select asp-for="Genres" class="form-control" multiple="multiple">
                                @foreach (var genre in (List<Genre>) ViewData["genres"])
                                {
                                    <option value="@genre.GenreName">@genre.GenreName</option>
                                }
                            </select>
                            <span asp-validation-for="Genres" class="text-danger"></span>
                        </div>*@
                    </div>
                </div>

                <button type="submit" class="btn btn-sm btn-info btn-block">Zoek</button>
            </form>
        </div>
        <div class="col-md-8">
            <div class="row">
                @foreach (var movie in (List<Movie>) ViewData["movies"])
                {
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            @if (movie.CoverImage != null)
                            {
                                <img src="data:image/png;base64, @Convert.ToBase64String(movie.CoverImage)" alt="@movie.Title"/>
                            }
                            <div class="caption @(movie.CoverImage != null ? "has-image" : string.Empty)">
                                <h3>@movie.Title</h3>
                                <p class="description">@movie.Description</p>
                            </div>

                            <a asp-action="Watch" asp-route-id="@movie.MovieId" class="btn btn-sm btn-primary" role="button">Watch</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="clearfix">

        <form asp-action="Search" method="get">
            <select asp-for="Genres" class="form-control hidden" multiple="multiple">
              @*  @foreach (var genre in (List<Genre>) ViewData["genres"])
                {
                    <option value="@genre.GenreName">@genre.GenreName</option>
                }*@
            </select>
            <input type="hidden" asp-for="Category"/>
            <input type="hidden" asp-for="MinPrice"/>
            <input type="hidden" asp-for="MaxPrice"/>
            <input type="hidden" asp-for="Year"/>
            <input type="hidden" name="page" value="@((int) ViewData["page"] - 1)"/>
            <button type="submit" class="btn btn-info pull-left @((bool) ViewData["hasPreviousPage"] ? string.Empty : "disabled")">Previous</button>
        </form>

        <form asp-action="Search" method="get">
            <select asp-for="Genres" class="form-control hidden" multiple="multiple">
              @*  @foreach (var genre in (List<Genre>) ViewData["genres"])
                {
                    <option value="@genre.GenreName">@genre.GenreName</option>
                }*@
            </select>
            <input type="hidden" asp-for="Category"/>
            <input type="hidden" asp-for="MinPrice"/>
            <input type="hidden" asp-for="MaxPrice"/>
            <input type="hidden" asp-for="Year"/>
            <input type="hidden" name="page" value="@((int) ViewData["page"] + 1)"/>
            <button type="submit" class="btn btn-info pull-right @((bool) ViewData["hasNextPage"] ? string.Empty : "disabled")">Next</button>
        </form>
    </div>

</div>