﻿@using Database.Models
@model FletNix.ViewModels.Movie_watch.WatchMovie

@{
    var movie = (Movie) ViewData["movie"];
    var comments = (List<UserFeedback>) ViewData["comments"];
    ViewData["Title"] = movie.Title;
}

<iframe width="1140" height="400" src="@movie.Url" frameborder="0" allowfullscreen></iframe>

<div id="watch" class="jumbotron">
    <div class="row">
        <div class="col-md-3">
            @if (movie.CoverImage != null)
            {
                <img src="data:image/png;base64, @Convert.ToBase64String(movie.CoverImage)" alt="@movie.Title"/>
            }
            <h3>@movie.Title</h3>
            <p>@movie.Description</p>
        </div>
        <div class="col-md-9">
            @if (((List<Movie>) ViewData["series"]).Any())
            {
                <div class="panel panel-default">
                    <div class="panel-heading">Other movies</div>
                    <div class="panel-body">
                        <div class="row">
                            @foreach (var item in (List<Movie>) ViewData["series"])
                            {
                                <div class="movie col-sm-4 col-md-3">
                                    <div class="thumbnail">
                                        <div class="caption @(item.CoverImage != null ? "has-image" : string.Empty)">
                                            <h4>@item.Title</h4>
                                            <p class="description">@item.Description</p>
                                        </div>

                                        <a asp-action="Watch" asp-route-id="@item.MovieId" class="btn btn-xs btn-primary btn-block" role="button">Watch</a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Cast</div>
        <div class="panel-body">
            <table class="table table-striped table-responsive">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                </tr>
                </thead>
                <tbody>
                @if (!movie.MovieCast.Any())
                {
                    <tr>
                        <td colspan="2">No moviecast found</td>
                    </tr>
                }
                @foreach (var castMember in movie.MovieCast)
                {
                    <tr>
                        <td>@castMember.Person.Firstname @castMember.Person.Lastname</td>
                        <td>@castMember.Role</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Genres</div>
                <div class="panel-body">
                    @string.Join(", ", movie.MovieGenre.Select(x => x.GenreName))
                    @if (!movie.MovieGenre.Any())
                    {
                        <text>No genres found</text>
                    }
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Directors</div>
                <div class="panel-body">
                    @string.Join(", ", movie.MovieDirector.Select(x => $"{x.Person.Firstname} {x.Person.Lastname}"))
                    @if (!movie.MovieDirector.Any())
                    {
                        <text>No directors found</text>
                    }
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">Comments</div>
        <div class="panel-body">
            @if (Url.ActionContext.RouteData.Values["action"].Equals("EditComment"))
            {
                <div asp-validation-summary="All" class="text-danger"></div>
            }

            @if (comments.Any())
            {
                foreach (var comment in comments)
                {
                    <div class="well">
                        <h5>
                            @comment.User.FirstName

                            @if (ViewData["userId"].ToString() == comment.User.Id)
                            {
                                <a asp-action="DeleteComment" asp-route-id="@comment.MovieId" asp-route-commentId="@comment.Id">
                                    <i class="glyphicon glyphicon-remove pull-right"></i>
                                </a>
                            }

                        </h5>
                        <hr/>

                        @if (ViewData["userId"].ToString() == comment.User.Id)
                        {
                            <form asp-action="EditComment">
                                <input type="hidden" name="UpdateComment.MovieId" value="@comment.MovieId"/>
                                <input type="hidden" name="UpdateComment.CommentId" value="@comment.Id"/>

                                <div class="form-group clearfix">
                                    <label asp-for="UpdateComment.Comment" class="col-md-2 control-label"></label>
                                    <div class="col-md-10">
                                        <textarea name="UpdateComment.Comment" class="form-control">@comment.Comment</textarea>
                                    </div>
                                </div>

                                <div class="form-group clearfix">
                                    <label asp-for="UpdateComment.Rating" class="col-md-2 control-label"></label>
                                    <div class="col-md-10">
                                        <select asp-for="UpdateComment.Rating" class="form-control">
                                            @for (int i = 1; 10 >= i; i++)
                                            {
                                                @: <option @(comment.Rating == i ? "selected='selected'" : string.Empty) value="@i">@i Stars</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary">Update comment</button>
                            </form>
                        }
                        else
                        {
                            <p>@comment.Comment</p>

                            <div class="clearfix">
                                <div class="pull-right">
                                    @for (int i = 0; comment.Rating > i; i++)
                                    {
                                        <i class="glyphicon glyphicon-star"></i>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                }
            }
            else
            {
                <p>No comments</p>
            }


            <div class="clearfix">
                <a asp-action="Index" asp-route-commentsPage="@((int) ViewData["page"] - 1)" class="btn btn-info pull-left @((bool) ViewData["hasPreviousPage"] ? string.Empty : "disabled")">Previous</a>

                <a asp-action="Index" asp-route-commentsPage="@((int) ViewData["page"] + 1)" class="btn btn-info pull-right @((bool) ViewData["hasNextPage"] ? string.Empty : "disabled")">Next</a>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Write a comment</div>
        <div class="panel-body">
            <form asp-action="Comment">
                <input type="hidden" asp-for="WriteComment.MovieId"/>

                <div class="form-group clearfix">
                    <label asp-for="WriteComment.Comment" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <textarea asp-for="WriteComment.Comment" class="form-control"></textarea>
                        <span asp-validation-for="WriteComment.Comment" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group clearfix">
                    <label asp-for="WriteComment.Rating" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="WriteComment.Rating" class="form-control">
                            @for (int i = 1; 10 >= i; i++)
                            {
                                <option value="@i">@i Stars</option>
                            }
                        </select>
                        <span asp-validation-for="WriteComment.Rating" class="text-danger"></span>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Add comment</button>
            </form>
        </div>
    </div>

</div>