
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <script src="~/lib/oidc-client/dist/oidc-client.js"></script>
<script>
    new Oidc.UserManager().signinRedirectCallback().then(function () {
        window.location = "/";
    }).catch(function (e) {
        console.error(e);
    });
</script>
</body>
</html>