﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Watch movies!</h1>
    <p>Watch amazing movies and tv series for a little bit of money.</p>
    <p><a class="btn btn-primary btn-lg" asp-controller="Account" asp-action="Register" role="button">Register now!</a></p>
</div>