@using Database.Models

@{
    ViewData["Title"] = "Persons";
    var persons = (List<Person>) ViewData["persons"];
}

<div id="awards">

    <h4>Persons</h4>
    
    <div class="clearfix">
        <a asp-action="Create" class="btn btn-default pull-right">Add person</a>
    </div>

    <table class="table table-striped table-responsive">
        <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Gender</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @if (persons.Any())
        {
            foreach (var item in persons)
            {
                <tr>
                    <td>@item.Firstname</td>
                    <td>@item.Lastname</td>
                    <td>@item.Gender</td>
                    <td><a asp-action="Edit" asp-route-id="@item.PersonId" class="btn btn-info">Edit</a></td>
                    <td><a asp-action="Delete" asp-route-id="@item.PersonId" class="btn btn-danger">Delete</a></td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">No persons found.</td>
            </tr>
        }

        </tbody>
    </table>

    <div class="clearfix">
        
        <form asp-action="Index" method="get">
            <input type="hidden" name="page" value="@((int) ViewData["page"] - 1)"/>
            <button type="submit" class="btn btn-info pull-left @((bool) ViewData["hasPreviousPage"] ? string.Empty : "disabled")">Previous</button>
        </form>

        <form asp-action="Index" method="get">
            <input type="hidden" name="page" value="@((int) ViewData["page"] + 1)"/>
            <button type="submit" class="btn btn-info pull-right @((bool) ViewData["hasNextPage"] ? string.Empty : "disabled")">Next</button>
        </form>
    </div>

</div>