@using Database.Models
@model Admin.ViewModels.FilterAwardsModel

@{
    ViewData["Title"] = "Awards";
    var movies = (List<Movie>) ViewData["movies"];
}

<div id="awards">

    <h4>Awards</h4>

    <form asp-action="Search" class="form-inline" method="get">
        <input asp-for="Page" type="hidden"/>
        <div id="fromYearGroup" class="form-group">
            <label asp-for="FromYear"></label>
            <input asp-for="FromYear" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="TillYear"></label>
            <input asp-for="TillYear" class="form-control">
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <button type="submit" class="btn btn-default">Filter</button>
    </form>

    <table class="table table-striped table-responsive">
        <thead>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Awards</th>
            <th>Gewonnen</th>
            <th>Genomineerd</th>
            <th>Totaal</th>
        </tr>
        </thead>
        <tbody>
        @if (movies.Any())
        {
            foreach (var item in movies)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.PublicationYear</td>
                    <td>
                        @if (item.MovieAward.Any())
                        {
                            <table class="table table-striped table-responsive">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Year</th>
                                    <th>Result</th>
                                    <th>Person</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var award in item.MovieAward)
                                {
                                    <tr>
                                        <td>@award.Name</td>
                                        <td>@award.Type</td>
                                        <td>@award.Year</td>
                                        <td>@award.Result</td>
                                        <td>@award.Person.Firstname @award.Person.Lastname</td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <text>No awards</text>
                        }
                    </td>
                    <td>@item.MovieAward.Count(a => a.Result == "Nominated")</td>
                    <td>@item.MovieAward.Count(a => a.Result == "Won")</td>
                    <td>@item.MovieAward.Count</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6">No movies found</td>
            </tr>
        }

        </tbody>
    </table>

    <div class="clearfix">
        
        <form asp-action="Search" method="get">
            <input type="hidden" asp-for="TillYear"/>
            <input type="hidden" asp-for="FromYear"/>
            <input type="hidden" name="page" value="@((int) ViewData["page"] - 1)"/>
            <button type="submit" class="btn btn-info pull-left @((bool) ViewData["hasPreviousPage"] ? string.Empty : "disabled")">Previous</button>
        </form>

        <form asp-action="Search" method="get">
            <input type="hidden" asp-for="TillYear"/>
            <input type="hidden" asp-for="FromYear"/>
            <input type="hidden" name="page" value="@((int) ViewData["page"] + 1)"/>
            <button type="submit" class="btn btn-info pull-right @((bool) ViewData["hasNextPage"] ? string.Empty : "disabled")">Next</button>
        </form>
    </div>

</div>