@model Admin.ViewModels.AwardModel

@{
    ViewData["Title"] = "Add award";
}

<form asp-action="AddAward">
    
    <div class="form-horizontal">
        <h4>Add award</h4>
        <hr/>
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="MovieId" value="@Model.MovieId"/>
        <input type="hidden" asp-for="PersonId" value="@Model.PersonId"/>
        <input type="hidden" asp-for="Name" value="@Model.Name"/>


        <div class="form-group">
            <label asp-for="Type" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Type" class="form-control">
                    @foreach (var type in (List<string>) ViewData["types"])
                    {
                        <option value="@type">@type</option>
                    }
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Result" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Result" class="form-control">
                    @foreach (var result in (List<string>) ViewData["results"])
                    {
                        <option value="@result">@result</option>
                    }
                </select>
                <span asp-validation-for="Result" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group">
            <label asp-for="Year" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="number" asp-for="Year" class="form-control"/>
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add award" class="btn btn-default"/>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Details" asp-route-id="@Model.MovieId">Back to movie</a>
</div>