@{
    ViewData["Title"] = "Add director";
}

@using Database.Models
@model Admin.ViewModels.MovieDirectorModel

<form asp-action="AddDirector">
    <div class="form-horizontal">
        <h4>Add director</h4>
        <hr/>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="MovieId" value="@Model.MovieId"/>
        <input type="hidden" asp-for="SearchMember" value="@Model.SearchMember" />
        <div class="form-group">
            <label asp-for="PersonId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="PersonId" class="form-control">
                    @foreach (var person in (List<Person>) ViewData["persons"])
                    {
                        <option value="@person.PersonId">@person.Firstname @person.Lastname</option>
                    }
                </select>
                <span asp-validation-for="PersonId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add director" class="btn btn-default"/>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Details" asp-route-id="@Model.MovieId">Back to movie</a>
</div>