@using Database.Models

@{
     ViewData["Title"] = "Add movie";
 }

@model Admin.ViewModels.MovieModel

<form asp-action="Create" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Add movie</h4>
        <hr/>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Duration" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Duration" class="form-control"/>
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PublicationYear" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PublicationYear" class="form-control"/>
                <span asp-validation-for="PublicationYear" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CoverImage" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CoverImage" type="file" class="form-control"/>
                <span asp-validation-for="CoverImage" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Price" class="form-control"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Url" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Url" class="form-control"/>
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Url" class="col-md-2 control-label">Genres</label>
            <div class="col-md-10">
                <select asp-for="Genres" class="form-control" multiple="multiple">
                    @foreach (var genre in (List<Genre>)ViewData["genres"])
                    {
                        <option value="@genre.GenreName">@genre.GenreName</option>
                    }
                </select>
                <span asp-validation-for="Genres" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>