@model Database.Models.Movie

@{
    ViewData["Title"] = "Movie details";
}

<h4>Movie details</h4>
<hr/>

<div class="row">
    <div class="col-md-9">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Duration) minutes
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Duration)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PublicationYear)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PublicationYear)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Url)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Url)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PreviousPartNavigation)
            </dt>
            <dd>
                @if (Model.PreviousPart.HasValue)
                {
                    @Html.DisplayFor(model => model.PreviousPartNavigation.Title)
                }
                else
                {
                    <text>No successor found</text>
                }
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.MovieAward)
            </dt>
            <dd>
            @if (Model.MovieAward.Any())
            {
                <table class="table table-striped table-responsive">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Year</th>
                        <th>Result</th>
                        <th>Person</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var award in Model.MovieAward)
                    {
                        <tr>
                            <td>@award.Name</td>
                            <td>@award.Type</td>
                            <td>@award.Year</td>
                            <td>@award.Result</td>
                            <td>@award.Person.Firstname @award.Person.Lastname</td>
                            <td>
                                <a class="btn btn-xs btn-info" asp-action="EditSearchAward" asp-route-id="@award.Id">Edit</a>
                            </td>
                            <td>
                                <a class="btn btn-xs btn-danger" asp-action="DeleteAward" asp-route-personId="@award.PersonId" asp-route-id="@award.MovieId" asp-route-name="@award.Name" asp-route-type="@award.Type" asp-route-year="@award.Year">Delete</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
            else
            {
                <text>No awards found</text>
            }
            <dt>
                @Html.DisplayNameFor(model => model.MovieGenre)
            </dt>
            <dd>
                @if (Model.MovieGenre.Any())
                {
                    <table class="table table-striped table-responsive">
                        <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var genre in Model.MovieGenre)
                        {
                            <tr>
                                <td>@genre.GenreName</td>
                                <td>
                                    <a class="btn btn-xs btn-danger" asp-action="DeleteGenre" asp-route-id="@genre.MovieId" asp-route-genre="@genre.GenreName">Delete</a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                }
                else
                {
                    <text>No genres found</text>
                }
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.MovieDirector)
            </dt>
            <dd>
                @if (Model.MovieDirector.Any())
                {
                    <table class="table table-striped table-responsive">
                        <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var director in Model.MovieDirector)
                        {
                            <tr>
                                <td>@director.Person.Firstname @director.Person.Lastname</td>
                                <td>
                                    <a class="btn btn-xs btn-danger" asp-action="DeleteDirector" asp-route-id="@director.MovieId" asp-route-personId="@director.PersonId">Delete</a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                }
                else
                {
                    <text>No directors found</text>
                }
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.MovieCast)
            </dt>
            <dd>
                @if (Model.MovieCast.Any())
                {
                    <table class="table table-striped table-responsive">
                        <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Role
                            </th>
                            <th>
                                
                            </th>
                            <th>
                                
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var castPerson in Model.MovieCast)
                        {
                            <tr>
                                <td>@castPerson.Person.Firstname @castPerson.Person.Lastname</td>
                                <td>@castPerson.Role</td>
                                <td>
                                    <a class="btn btn-xs btn-info" asp-action="EditCast" asp-route-id="@castPerson.MovieId" asp-route-personId="@castPerson.PersonId" asp-route-role="@castPerson.Role">Edit</a>
                                </td>
                                <td>
                                    <a class="btn btn-xs btn-danger" asp-action="DeleteCast"  asp-route-id="@castPerson.MovieId" asp-route-personId="@castPerson.PersonId" asp-route-role="@castPerson.Role">Delete</a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                }
                else
                {
                    <text>No cast members found</text>
                }
            </dd>
        </dl>
    </div>
    
    @if (Model.CoverImage != null)
    {
        <img src="data:image/png;base64, @Convert.ToBase64String(Model.CoverImage)" class="col-md-3"/>        
    }

</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.MovieId">Edit</a> |
    <a asp-action="SearchCastMember" asp-route-id="@Model.MovieId" asp-route-viewName="AddCast">Add cast</a> |
    <a asp-action="SearchAward" asp-route-id="@Model.MovieId">Add award</a> |
    <a asp-action="SearchCastMember" asp-route-id="@Model.MovieId" asp-route-viewName="AddDirector">Add director</a> |
    <a asp-action="Index">Back to List</a>
</div>