@model Admin.ViewModels.MovieCastModel

@{
    ViewData["Title"] = "Update cast";
}

<form asp-action="EditCast">
    <div class="form-horizontal">
        <h4>Edit cast member</h4>
        <hr/>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="MovieId" value="@Model.MovieId"/>
        <input type="hidden" asp-for="PersonId" value="@Model.PersonId" />
        <div class="form-group">
            <label asp-for="Role" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Role" class="form-control"/>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-default"/>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Details" asp-route-id="@Model.MovieId">Back to movie</a>
</div>