@using Database.Models
@model Admin.ViewModels.EditSearchAwardModel

@{
    ViewData["Title"] = "Search award";
}

<form asp-action="EditSearchAward">
    <input type="hidden" asp-for="MovieId"/>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Year" />

    <div class="form-horizontal">
        <h4>Step two</h4>
        <hr/>
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Name" class="form-control">
                    @foreach (var award in (List<string>) ViewData["awards"])
                    {
                       @: <option @(Model.Name == award ? "selected='selected'" : String.Empty) value="@award">@award</option>
                    }
                </select>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="PersonId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="PersonId" class="form-control">
                    @foreach (var person in (List<Person>)ViewData["persons"])
                    {
                       @: <option @(Model.PersonId == person.PersonId ? "selected='selected'" : String.Empty) value="@person.PersonId">@person.Firstname @person.Lastname</option>
                    }
                </select>
                <span asp-validation-for="PersonId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Next step" class="btn btn-default"/>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Details" asp-route-id="@Model.MovieId">Back to movie</a>
</div>