@model IEnumerable<Database.Models.Movie>

@{
    ViewData["Title"] = "Movies";
}

<h4>Movies</h4>

<div class="clearfix">
   <a asp-action="Create" class="btn btn-default pull-right">Add movie</a>
</div>

<table class="table table-striped table-responsive">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CoverImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublicationYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreviousPartNavigation)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @if (!Model.Any())
    {
        <tr>
            <td colspan="6">There are no movies yet.</td>
        </tr>
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.CoverImage != null)
                {
                    <img src="data:image/png;base64, @Convert.ToBase64String(item.CoverImage)" width="32" height="32"/>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreviousPartNavigation.Title)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.MovieId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MovieId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="clearfix">
    <a asp-action="Index" asp-route-page="@((int) ViewData["page"] - 1)" class="btn btn-info pull-left @((int) ViewData["page"] - 1 == -1 ? "disabled" : string.Empty)">Previous</a>

    <a asp-action="Index" class="btn btn-info pull-right" asp-route-page="@((int) ViewData["page"] + 1)">Next</a>
</div>