@{
    ViewData["Title"] = "Search person";
}

@model Admin.ViewModels.SearchCastMemberModel

<form asp-action="SearchCastMember">
    <div class="form-horizontal">
        <h4>Search person</h4>
        <hr/>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="MovieId" value="@Model.MovieId"/>
        <input type="hidden" asp-for="ViewName" value="@Model.ViewName" />
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-default"/>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Details" asp-route-id="@Model.MovieId">Back to movie</a>
</div>