@model IEnumerable<Database.Models.WatchHistory>

@{
    ViewData["Title"] = "History";
}

<h4>History</h4>

<table class="table table-striped table-responsive">
    <thead>
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Movie.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movie.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WatchDate)
        </th>
        <th>Watch</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.Movie.CoverImage != null)
                {
                    <img src="data:image/png;base64, @Convert.ToBase64String(item.Movie.CoverImage)" width="32" height="32"/>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Title)
            </td>
            <td>
                &euro;@Html.DisplayFor(modelItem => item.Movie.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WatchDate)
            </td>
            <td>
                <a asp-action="Watch" asp-controller="Movies" asp-route-id="@item.MovieId" class="btn btn-xs btn-primary">Watch</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="clearfix">
    <a asp-action="Index" asp-route-page="@((int) ViewData["page"] - 1)" class="btn btn-info pull-left @((bool) ViewData["hasPreviousPage"] ? string.Empty : "disabled")">Previous</a>

    <a asp-action="Index" class="btn btn-info pull-right @((bool) ViewData["hasNextPage"] ? string.Empty : "disabled")" asp-route-page="@((int) ViewData["page"] + 1)">Next</a>
</div>